<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Welcome on your account! </h1>
    <p th:text="'You can now create your plant ' + ${utilisateur.name}"/>


    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <a th:href="centraleInput"><input type="submit"
                   name="login-submit"
                   id="login-submit"
                   class="form-control btn btn-info"
                   value="Create plant"> </a>
        </div>
    </div>


</div>
</body>
</html>